

.form{
    max-width: 500px;
    border: 1px solid silver;
    padding: 2rem;
    margin: auto;
    display: flex;
    margin-top: 100px;
    border-radius: 5px;
    flex-direction: column;

    
}

.form p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.form span {
    font-size: 0.8rem;
    margin-bottom: 20px;
}

.form input {
    margin:  10px 0 20px;
    padding: 5px;
    border: 1px solid silver;
    border-radius: 5px;
}

.form button {
    width: 30%;
    border: none;
    padding: 5px 10px;
    background-color: #a62626;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}